# Ignore
*.pyc
*.pnws
*.user
private_settings.py
user_settings.py
animations/*
assets/images/sprites/*
assets/images/sugimori/*
assets/data/logins/*.json
assets/data/rerolls.log
venv/
virt/*
virt273/*
tools/twitter_timers.py
