{% extends "main.html" %}

{% block title %}Administration - Manage Items - {% endblock %}

{% block css %}
<style>
.field textarea
{
    float:none;
    width:390px;
    height:83px;
}

#attribute_list
{
    width:300px;
    height:100px;
    border:1px solid #A05246;
    font-size:10pt;
    font-weight:normal;
    overflow-y:scroll;
    background-color:#E6D298;
    float:right;
}

#attribute_list label
{
    width:99%;
    padding-left:2px;
    display:inline-block;
    border-bottom:1px solid #A05246;
}

#attribute_list label:hover
{
    background-color: #FFE8AA
}

#attribute_list label input
{
    float: right;
}
</style>
{% endblock %}

{% block scripts %}
<script src="/assets/scripts/jquery.maskedinput.min.js"></script>
<script>
$(document).ready(function (){
    $("input[name=name]").on("input", function (){ $("#item_name").html($(this).val()) });
    $("input[name=cost]").on("input", function (){ $("#item_cost").html($(this).val()) });
    $("select[name=image]").change(function (){ $("#item_image").attr("src", "/assets/images/items/"+$(this).val()) });
    $("textarea[name=desc]").on("input", function (){ $("#item_desc").html($(this).val().replace(/\n/g, '<br>')) });
    $("textarea[name=exp]").on("input", function (){ $("#item_exp").html($(this).val().replace(/\n/g, '<br>')) });
    
    $("input[name=appears]").mask("9999-99-99");
    $("input[name=disappears]").mask("9999-99-99");
});

function preview()
{
    
}
</script>
{% endblock %}

{% block main %}
<div id="content">
{% if mode != "list" %}
<form method="POST" enctype="multipart/form-data">
{% if mode == "edit" %}<input type="hidden" name="id" value="{{id}}">{% endif %}
{% csrf_token %}
<div class="col">
    <div class="field">
        <label>Name <input name="name" value="{{name}}"></label>
    </div>
    <div class="field">
        <label>Cost <input name="cost" value="{{cost|default:0}}"><br>
        <span class="sub"># of stars something costs. <b>0</b> is free. <b>-1</b> is not for sale and not in the store.</span></label>
    </div>

    <div class="field">
        <label>Image (Existing) 
        <select name="image">
            <option value="--Use Uploaded--">-- Use Uploaded --</option>
            {% for image in images %}
            {% if image == image_full %}
                <option value="{{image|slice:'43:'}}" selected="selected">{{image|slice:'43:'}}</option>
            {% else %}
                <option value="{{image|slice:'43:'}}">{{image|slice:'43:'}}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        <span class="sub">Use an already uploaded image.</span></label>
    </div>
    
    <div class="field">
        <label>Image (New) <input name="file" type="file"><br>
        <span class="sub">Upload an image to represent the item.</span></label>
    </div>

    <div class="field">
        <label>Appears On <input name="appears" value="{{appears}}"><br>
        <span class="sub">Starting date the item will show up in the store</span></label>
    </div>

    <div class="field">
        <label>Disappears On <input name="disappears" value="{{disappears}}"><br>
        <span class="sub">Date the item will no longer be in the store. Can be left blank.</label>
    </div>
    
    <div class="field" style="height:105px">
        <label>Attributes
        <div class="col" id="attribute_list">
            <label><input type="checkbox" name="attribute" value="can_customize"> Can Customize</label>
        </div>
        </label>
    </div>
</div>
<div class="col">
    <div class="field">
        <label>Description <span class="sub">An in-universe description of the item.</span><br><textarea name="desc">{{desc}}</textarea></label>
    </div>

    <div class="field" style="margin-top:18px">
        <label>Explanation <span class="sub">An out-of-universe explanation of the item.</span><br><textarea name="exp">{{exp}}</textarea></label>
    </div>
</div>
<br>
<input type="submit" value="{% if mode == "edit" %}Edit{%else%}Add{% endif %} Item" class="bigbutton">
</form>

<br>
<h2>Store Preview</h2>
<div class="item_details">
    <div class="col image"><img src="/assets/images/items/{{image|default:'placeholder.png'}}" alt="{{name}}" id="item_image"></div>
    <div class="desc">
        <h1 id="item_name">{{name|default:"New Item"}}</h1>
        <span class="price"><span id="item_cost">{{cost|default:0}}</span><span style="font-size:10pt"> x </span><img src="/assets/images/icons/star-piece.png"></span>
        <div class="description" id="item_desc">
            {{desc|safe|default:"Description"}}
        </div>
        <br>
        <div class="explanation" id="item_exp">
            {{exp|safe|default:"Explanation"}}
        </div>
        <input type="button" value="No Thanks" style="width:25%"> <input type="button" value="I'll Take It!" style="width:70%">
    </div>
</div>
{% else %}
<table class="dataTable">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Appears</th>
        <th>Disappears</th>
        <th>View</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.cost}}</td>
        <td>{{item.appears}}</td>
        <td>{{item.disappears}}</td>
        <td><a href="/admin/manage-items/{{item.id}}">View</a></td>
    </tr>
    {% endfor %}
</table>

<div style="text-align:center">
    <a href="/admin/manage-items/new"><input type="button" class="bigbutton" value="New Item"></a>
</div>
{% endif %}
</div>
{% endblock %}

