{% extends "main.html" %}

{% block title %}Contributors - {% endblock %}

{% block css %}
<style>
#content
{
    text-align:center;
}

.credit
{
    border-bottom:1px solid #000;
    width:50%;
    margin:auto;
    margin-bottom:8px;
}

h2
{
    margin:0;
}
</style>
{% endblock %}

{% block main %}
<div id="content">
<h1>Credits</h1>
<br><br>
<div class="credit">
<h2>Dr. Dos</h2>
The creator and coder behind the site.
</div>

<div class="credit">
<h2>Sundance</h2>
The creator behind the group. Wouldn't be much of a site without him. Responsible for lots of images.
</div>

<div class="credit">
<h2>Sugimori/Game Freak/Nintendo</h2>
Wouldn't be much of a group without them!
</div>

<div class="credit">
<h2>Eevee</h2>
For easily available sprites and other game data
</div>

<div class="credit">
<h2>Cailas</h2>
For some item icons
</div>

<div class="credit">
<h2>Kuzeele</h2>
For the dungeon graphics
</div>

<div class="credit">
<h2>The Contributors</h2>
For all their efforts and producing massive amounts of awesome stuff.
</div>

<div class="credit">
<h2>Yusuke Kamiyamane</h2>
Responsible for the Fugue icon set. Used here and there throughout the site!
</div>

</div>
{% endblock %}

