{% extends "main.html" %}

{% block title %}FAQ - {% endblock %}

{% block main %}
<div id="content">
<h1>Andalusst Atlas FAQ</h1>

<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-smile.png"></div>
    <div class="desc">
        <h1>Alexander</h1>
        <div class="description"><br>
            &ldquo;A-hem! Welcome to the Andalusst Atlas! Your guide to the guilds and the many Pokémon teams within the city!<br>
            <br>
            Here you'll be able to properly register your team with a guild, so that the others know who they can call on in times of need!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-excited.png"></div>
    <div class="desc">
        <h1>What is the Andalusst Atlas?</h1>
        <div class="description"><br>
            &ldquo;The Andalusst Atlas (more lovingly just "the Atlas"), is a listing of all the known teams of the guilds around here <i>(team database and management system for the PMD Unity group)</i>!<br><br>
            Participating lets you submit your team so that the guildmasters <i>(PMDU Staff)</i> can easily keep tracks of things <i>(somewhere more organized than DeviantArt)</i>.<br><br>
            By checking our records, teams can be found by guild, number of pokémon, species of pokémon, and whether they're willing to possibly help you out <i>(accepting cameos)</i>.<br><br>
            You can make official records of your team's purchases and customizations of their items as well.<br><br>
            And best of all you can record your teams adventures in a logbook for anybody to follow your team's own story!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-angry.png"></div>
    <div class="desc">
        <h1>Atlases are supposed to have maps.</h1>
        <div class="description"><br>
            &ldquo;Gah! I know atlases are supposed to have maps!<br><br>
            First of all, any compendium of information can be called an atlas!<br><br>
            Second! It sounds nicer!<br><br>
            Third, maybe we'll get some maps one of these days! I got nothin against em'!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-frustrated.png"></div>
    <div class="desc">
        <h1>Do I need to use it?</h1>
        <div class="description"><br>
            &ldquo;(Why do they always ask that to my face?)<br><br>
            Yep! The guildmasters are using the Atlas to verify your logbooks and hand out the proper rewards for completed events! It's best to keep it up to date with your team
            to the best of your ability!<br><br>
            
            Plus, by recording all the events your team was around for, others will have an easy way to read up on you. Expand your audience and all that.&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-flustered.png"></div>
    <div class="desc">
        <h1>Why do you need Sta.sh Access?</h1>
        <div class="description"><br>
            &ldquo;What does that even mean!&rdquo;<br><br>
            <hr>
            <i>(We don't! Logging in is done using something called oAuth2. It basically goes down like this:

            <ul>
            <li>You click login</li>
            <li>The site requests to know your DA username and your avatar</li>
            <li>DA asks if you want to give out that information</li>
            <li>You agree, DA sends the site the information.</li>
            <li>The site says goodbye to DA as it doesn't need anything from it any longer</li>
            </ul>

            Sta.sh access is a part of what using DA's systems gives access to. It is never used, and by the time the login process 
            is done, the site no longer has access to it. Your sta.sh will NEVER be accessed or modified in any way.)</i>
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-happy.png"></div>
    <div class="desc">
        <h1>How do I add my team?</h1>
        <div class="description"><br>
            &ldquo;First you login! You'll get a list of all the teams you have access to. From there, you can say you want to add a new team.<br><br>

            Then you'll get a form where you can fill out the relevant information. Make sure your team already has submitted an application to the guild
            <i>(on deviantArt)</i> before registering a team!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-smile.png"></div>
    <div class="desc">
        <h1>How do I edit my team and teammates?</h1>
        <div class="description"><br>
            &ldquo;After your submit your team, you can freely edit it for the next 24 hours to fix any mistakes or last minute alterations that need to be made.<br><br>
            
            After that, your team and members are locked, which restricts what you can edit. If you need something changed after you've been locked, contact an admin!<br><br>
            
            But you probably won't need to do that because you'll enter your information right the first time!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-happy.png"></div>
    <div class="desc">
        <h1>How do I use my team's logbook?</h1>
        <div class="description"><br>
            &ldquo;Just select the open book icon and we'll pull up your records. You can see whether or not you've current logbook entries have been verified by a guildmaster or not, and if they've given ya any reward for it.
            If it's been rejected, you can see why and delete the failed entry and try again. That sort of thing is private, anybody else comes in askin about you, I'll tell em if
            you have anything, but approvals, rejections, and rewards ain't their business.<br><br>
            
            You can add a logbook entry if you want, just let me know what event it was, and tell me where your story begins. Then a guildmaster can hopefully approve it later.<br><br>
            
            You can also add logbook entries for unofficial events. These don't go through guildmaster approval and don't have any rewards. You can also arrange your logbook in whatever
            order best fits your team. &rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-smile.png"></div>
    <div class="desc">
        <h1>How do I buy items?</h1>
        <div class="description"><br>
            &ldquo;If you wanna shop, then just select shop! You'll go to that furfrou lady's store, and be able to buy whatever you need there. After you choose to buy somethin'
            you can choose to pay with star coins or any vouchers that might apply to that item. Once you buy it, it'll show up in your inventory here.&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-happy.png"></div>
    <div class="desc">
        <h1>How do I customize items?</h1>
        <div class="description"><br>
            &ldquo;Start by shopping, but then tell her you want to customize somethin' instead. Pick the item you're customizin' share the details <i>(A link to the customization submission)</i>, tell her
            how many things need to be adjusted so she knows what to charge ya, tell 'er what ta' call it, and pick how to pay! You can also give it a little description if you're the wordy type!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-happy.png"></div>
    <div class="desc">
        <h1>I changed my name on DeviantArt and can't access my team!</h1>
        <div class="description"><br>
            &ldquo;Relax! Inhale... exhale... inhale... exhale...&rdquo;
            <hr>
            <i>Team ownership is stored by the DeviantArt username used to create the team! So when you log in with a different name, your teams aren't able to be accessed by you.<br><br>
            
            When you change your name, the easiest way to regain access to your team is to log in once with the new name that has no teams, and then contact an admin and tell them your old/new name. 
            They'll be able to transfer the teams over to the new account and get rid of the old one. Please don't resubmit an existing team! It's best to not do anything with the new account
            other than log in.</i>
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-flustered.png"></div>
    <div class="desc">
        <h1>You didn't answer my question!</h1>
        <div class="description"><br>
            &ldquo;Well you didn't ask it!&rdquo;<hr>
            <i>(If you have questions about the Atlas (rather than the group), get in touch with <a href="mailto:doctordos@gmail.com">Dr. Dos</a>! Feedback and suggestions are also
            greatly appreciated!)</i>
            </div>
    </div>
</div>
</div>
{% endblock %}

