{% extends "main.html" %}

{% block title %}Miscellaneous - {% endblock %}

{% block main %}
<div id="content">
<h1>Miscellaneous</h1>

<div class="section">
    <a href="/faq"><img src="/assets/images/sugimori/54.png"><h2>FAQ</h2></a><br>
    <p>Some common questions on how to use the site.</p>
</div>

<div class="section">
    <a href="/stats"><img src="/assets/images/sugimori/137.png"><h2>Statistics</h2></a><br>
    <p>Some statistics. A breakdown of guilds and shiny pokémon via species.</p>
</div>

<div class="section">
    <a href="/contributors"><img src="/assets/images/sugimori/235.png"><h2>Contributors</h2></a><br>
    <p>A big list of everybody who's submitted a team.</p>
</div>

<div class="section">
    <a href="/changes"><img src="/assets/images/sugimori/132.png"><h2>Changes</h2></a><br>
    <p>Find out what's been added recently to the Atlas!</p>
</div>

<div class="section">
    <a href="/credits"><img src="/assets/images/sugimori/52.png"><h2>Credits</h2></a><br>
    <p>Thanks to: ME. (But also other people!)</p>
</div>

</div>
{% endblock %}

