<div class="header" data-show="{{forloop.counter}}">
    <div class="team_icon"><img id="poke_icon-{{forloop.counter}}" src="/assets/images/sprites/icons/{{poke.species}}.png"></div>
    <div class="col">Team Member #{{forloop.counter}}</div>
    <div class="arrow" id="arrow-{{forloop.counter}}">-</div>
</div>
<div name="pokemon_info" id="pokemon_info{{forloop.counter}}">
    <input name="locked_pokemon" value="1" type="hidden">
    <input name="pokemon_id" type="hidden" value="{{poke.id}}">
    <div class="col" style="width:176px;text-align:center;">
        <img id="poke_sprite-{{forloop.counter}}" class="sprite" src="/assets/images/sprites/x-y/{% if poke.shiny %}shiny/{% endif %}{{poke.species}}.png"><br>
            <table class="stats">
                <tr>
                    <th colspan="7">Stats</th>
                </tr>
                <tr id="str-{{forloop.counter}}">
                    <th>STR</th>
                    <td id="str1-{{forloop.counter}}">&nbsp;</td>
                    <td id="str2-{{forloop.counter}}">&nbsp;</td>
                    <td id="str3-{{forloop.counter}}">&nbsp;</td>
                    <td id="str4-{{forloop.counter}}">&nbsp;</td>
                    <td id="str5-{{forloop.counter}}">&nbsp;</td>
                    <td id="str-total-{{forloop.counter}}" class="total">0</td>
                </tr>
                <tr id="int-{{forloop.counter}}">
                    <th>INT</th>
                    <td id="int1-{{forloop.counter}}">&nbsp;</td>
                    <td id="int2-{{forloop.counter}}">&nbsp;</td>
                    <td id="int3-{{forloop.counter}}">&nbsp;</td>
                    <td id="int4-{{forloop.counter}}">&nbsp;</td>
                    <td id="int5-{{forloop.counter}}">&nbsp;</td>
                    <td id="int-total-{{forloop.counter}}" class="total">0</td>
                </tr>
                <tr id="agl-{{forloop.counter}}">
                    <th>AGL</th>
                    <td id="agl1-{{forloop.counter}}">&nbsp;</td>
                    <td id="agl2-{{forloop.counter}}">&nbsp;</td>
                    <td id="agl3-{{forloop.counter}}">&nbsp;</td>
                    <td id="agl4-{{forloop.counter}}">&nbsp;</td>
                    <td id="agl5-{{forloop.counter}}">&nbsp;</td>
                    <td id="agl-total-{{forloop.counter}}" class="total">0</td>
                </tr>
                <tr id="chr-{{forloop.counter}}">
                    <th>CHR</th>
                    <td id="chr1-{{forloop.counter}}">&nbsp;</td>
                    <td id="chr2-{{forloop.counter}}">&nbsp;</td>
                    <td id="chr3-{{forloop.counter}}">&nbsp;</td>
                    <td id="chr4-{{forloop.counter}}">&nbsp;</td>
                    <td id="chr5-{{forloop.counter}}">&nbsp;</td>
                    <td id="chr-total-{{forloop.counter}}" class="total">0</td>
                </tr>
                <tr>
                    <th colspan="7"><span id="pts_used-{{forloop.counter}}">0</span> / 10</th>
                </tr>
            </table>
        
    </div>
    <div class="col">
        <table>
            <tr>
                <td>Name</td>
                {% if not yours %}
                <td class="value">{{poke.name}}</td>
                {% else %}
                <td><input name="pokemon_name" value="{{poke.name}}"></td>
                {% endif %}
            </tr>
            <tr>
                <td>Species</td>
                <td class="value">
                    <a href="http://veekun.com/dex/pokemon/{{poke.species_name|lower}}" target="_blank">{{poke.species_name}}</a>
                    <select name="species" style="display:none;"><option value="N/A">N/A</option></select>
                </td>
            </tr>
            <tr>
                <td>Shiny</td>
                <td class="value">
                {{poke.shiny|yesno|title}}
                <select name="shiny" style="display:none;"><option value="N/A">N/A</option></select>
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                {% if not yours %}
                <td class="value">{{poke.gender}}</td>
                {% else %}
                <td><input name="gender" value="{{poke.gender}}"></td>
                {% endif %}
            </tr>
            <tr>
                <td>Ability</td>
                <td class="value">
                    <a href="http://veekun.com/dex/abilities/{{poke.ability}}" target="_blank">{{poke.ability}}</a>
                    <input name="ability" type="hidden" value="N/A" readonly>
                </td>
            </tr>
            <tr>
                <td>Nature</td>
                {% if not yours %}
                <td class="value"><a href="http://veekun.com/dex/natures/{{poke.nature}}" target="_blank">{{poke.nature}}</a></td>
                {% else %}
                <td><select name="nature">
                    {% for nature in natures %}
                        <option{% if nature == poke.nature %} selected {% endif %}>{{nature}}</option>
                    {% endfor %}
                    </select>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>Trait</td>
                {% if not yours %}
                <td class="value"><a href="http://veekun.com/dex/natures#phenotypes" target="_blank">{{poke.trait}}</a></td>
                {% else %}
                <td><select name="trait">
                    {% for trait in traits %}
                        <option{% if trait == poke.trait %} selected{% endif %}>{{trait}}</option>
                    {% endfor %}
                    </select></td>
                {% endif %}
            </tr>
            <tr>
                <td>Move 1</td>
                {% if not yours %}
                <td class="value"><a name="move_link" href="http://veekun.com/dex/{% if poke.move1 != '-' %}moves/{{poke.move1|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move1|default:'-'}}</a></td>
                {% else %}
                <td class="value">
                    <a name="move_link" href="http://veekun.com/dex/{% if poke.move1 != '-' %}moves/{{poke.move1|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move1|default:'-'}}</a>
                    <input name="move1" type="hidden" value="N/A" readonly>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>Move 2</td>
                {% if not yours %}
                <td class="value"><a href="http://veekun.com/dex/{% if poke.move2 != '-' %}moves/{{poke.move2|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move2|default:'-'}}</a></td>
                {% else %}
                <td class="value">
                    <a href="http://veekun.com/dex/{% if poke.move2 != '-' %}moves/{{poke.move2|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move2|default:'-'}}</a>
                    <input name="move2" type="hidden" value="N/A" readonly>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>Move 3</td>
                {% if not yours %}
                <td class="value"><a href="http://veekun.com/dex/{% if poke.move3 != '-' %}moves/{{poke.move3|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move3|default:'-'}}</a></td>
                {% else %}
                <td class="value">
                    <a href="http://veekun.com/dex/{% if poke.move3 != '-' %}moves/{{poke.move3|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move3|default:'-'}}</a>
                    <input name="move3" type="hidden" value="N/A" readonly>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>Move 4</td>
                {% if not yours %}
                <td class="value"><a href="http://veekun.com/dex/{% if poke.move4 != '-' %}moves/{{poke.move4|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move4|default:'-'}}</a></td>
                {% else %}
                <td class="value">
                    <a href="http://veekun.com/dex/{% if poke.move4 != '-' %}moves/{{poke.move4|lower}}{% else %}pokemon/{{poke.species_name|lower}}#moves{% endif %}" target="_blank">{{poke.move4|default:'-'}}</a>
                    <input name="move4" type="hidden" value="N/A" readonly>
                </td>
                {% endif %}
            </tr>
            <tr style="display:none">
                <td>Strength</td>
                <td><input name="stat" class="xs" value="{{poke.strength}}"> + <input name="stat" class="xs" value="{{poke.bonus_strength}}"> Bonus</td>
            </tr>
            <tr style="display:none">
                <td>Intelligence</td>
                <td><input name="stat" class="xs" value="{{poke.intelligence}}"> + <input name="stat"class="xs" value="{{poke.bonus_intelligence}}"> Bonus</td>
            </tr>
            <tr style="display:none">
                <td>Agility</td>
                <td><input name="stat" class="xs" value="{{poke.agility}}"> + <input name="stat" class="xs" value="{{poke.bonus_agility}}"> Bonus</td>
            </tr>
            <tr style="display:none">
                <td>Charisma</td>
                <td><input name="stat" class="xs" value="{{poke.charisma}}"> + <input name="stat" class="xs" value="{{poke.bonus_charisma}}"> Bonus</td>
            </tr>
            <tr>
                <td colspan="2" id="pokemon_errors-{{forloop.counter}}" name="pokemon_errors">
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both">&nbsp;</div>
</div>