{% extends "main.html" %}

{% block title %}Statistics - {% endblock %}

{% block main %}
<div id="content">
<h1>Statistics</h1>

<div class="section">
    <a href="/stats/population"><img src="/assets/images/sugimori/51.png"><h2>Population</h2></a><br>
    <p>Find out how many of each Pokémon are registered on the Atlas. As well as breaking down a species by guild, and shinyness.</p>
</div>

<div class="section">
    <a href="/stats/logbooks"><img src="/assets/images/sugimori/163.png"><h2>Logbooks</h2></a><br>
    <p>Check out just how many logbook entries the admins have processed so far! Then, yell at them to work faster.</p>
</div>

</div>
{% endblock %}