{% extends "main.html" %}

{% block title %}Dungeon Masters - {% endblock %}

{% block main %}
<div id="content">
    <div class="section">
        <a href="/admin/dungeons/design"><img src="/assets/images/sugimori/534.png"><h2>Design a Dungeon</h2></a><br>
        <p>Create rules for a dungeon to be explored.</p>
    </div>

    <div class="section">
        <a href="/admin/dungeons/entity"><img src="/assets/images/sugimori/679.png" alt="Honedge"><h2>Dungeon Entities</h2></a><br>
        <p>Design Enemies/Traps/Treasure/Resources found in dungeons.</p>
    </div>
</div>
{% endblock %}

