{% extends "main.html" %}

{% block title %}FAQ - {% endblock %}

{% block main %}
<div id="content">
<h1>Dungeon Exploration FAQ</h1>

<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-excited.png"></div>
    <div class="desc">
        <h1>Alexander</h1>
        <div class="description"><br>
            &ldquo;So your team just finished your exploration of a dungeon. May I see the map you made? I'll need to take a look at that before we make a logbook entry.
            <br><br>
            Very nice map ya got here. Lots of rectangles. I have no idea what any of these symbols mean. 
            &rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-shy.png"></div>
    <div class="desc">
        <h1>What are all these symbols?</h1>
        <div class="description"><br>
            &ldquo;I see there's a key on the side, but saying that something is a trap doesn't tell me anything like what kind of trap it is...
            <br><br>
            ...Ah, okay that makes more sense. I can touch a spot on the map and get more information on it. 
            That way I can get the details on what's actually in the dungeon there. And even the floor tiles to find out about the room too! Wonderful.&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-flustered.png"></div>
    <div class="desc">
        <h1>There's a locked door, but I don't see a key on the map!</h1>
        <div class="description"><br>
            &ldquo;So there you were in the dungeon, and suddenly, you were stuck. A door that just wouldn't open. 
            Now, taking a look at you I don't think you'd let a little old door stop you from making progress. 
            Tell me how you got past it. Was there a key just lying around on the ground somewhere? Did you have to fight off some baddie to get the key from them? 
            Did you find the key on a pedastal, only to get zapped by a thundershock trap when you picked it up?
            <br><br>
            There's always a way to get past a door of course. You just need to figure it out for yourselves.
            &rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-shocked.png"></div>
    <div class="desc">
        <h1>So what did you do?</h1>
        <div class="description"><br>
            &ldquo;...You smashed the door down with brute force!
            <br><br>
            Yes. Very clever. Doors can be obstacles, but I guess each team has their own ideas on how to overcome them. There's no right or wrong way to get past something really!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-frustrated.png"></div>
    <div class="desc">
        <h1>Traps are all over this place!</h1>
        <div class="description"><br>
            &ldquo;The more I look at this map, the less I want to enter this dungeon myself. One wrong step and I'd be zapped, or burnt, or poisoned, or worse! 
            I see from the details there was a pit trap in this room. Was it right out there in the open? Covered up? Did a terrifying creature climb out of it? 
            Did you push a terrifying creature into it?
            <br><br>
            Of course, those of us fortunate enough to have wings probably found it to be more of a joke than a threat. 
            Sometimes you luck out and the trap won't be able to do anything to you. Other times, it can get a little painful. 
            Ground types don't take too well to a surprise water gun after all.
            <br><br>
            Then again, finding a trap could mean finding a trap, and avoiding it. Sure you'll be able to notice some of them, 
            but I'd have a hard time believing any team telling me they had a dozen traps and didn't get caught off guard once. Some'll get ya, some won't, there's no escaping it.&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-smile.png"></div>
    <div class="desc">
        <h1>Now how about these resources?</h1>
        <div class="description"><br>
            &ldquo;Looks like you found some useful items down there and brought them up with you. I hope you weren't planning on hogging them for yourselves. Those'll be going right to your guild. Now, don't worry, they don't just use them for their own purposes. They'll be put towards public works projects. Once there are enough resources, we'll be able to rebuild parts of the city there were damaged, or maybe make some cool new things.
            <br><br>
            Maybe you couldn't get every last resource out of the dungeon, and that's ok. But the more the better! When you fill out your logbook entry, there will be some more data to fill out about resources.
            <br><br>
            I think that covers everything I needed to know. Thanks for your time!&rdquo;
            </div>
    </div>
</div>
<br>
<div class="item_details">
    <div class="col image"><img src="/assets/images/characters/meowth-what.png"></div>
    <div class="desc">
        <h1>What? Angry fish?!</h1>
        <div class="description"><br>
            &ldquo;You must be imagining things. Fish <b>don't</b> live in caves. And if they did I'm sure you'd have quite the time showing them why it's a poor life choice to be making. &rdquo;
            </div>
    </div>
</div>
</div>
{% endblock %}

